.banner {
  background: var(--fundo-banner),
    url("../assets/images/banner.png") center no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  padding: 3.5rem;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 268px;
  height: 268px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-content h1 {
  background-image: var(--gradiente-titulo);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 46.96px;
  padding: 1rem 0;
  text-transform: uppercase;
}

.banner-content p {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 23.48px;
  text-align: center;
  width: 510px;
}

.banner-content button {
  color: var(--cor-principal);
  background-color: transparent;
  border: 2px solid transparent;
  border-image-source: var(--gradiente-borda);
  border-image-slice: 1;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 900;
  line-height: 18.78px;
  margin: 1.5rem 0;
  padding: 19px 46px;
  text-transform: uppercase;
  letter-spacing: 3.36px;
}
