@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap");
@import url("./banner.css");
@import url("./sections.css");
@import url("./footer.css");

* {
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

:root {
  --fundo-banner: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(49, 168, 221, 0.1) 90%,
    rgba(0, 0, 0, 0.6) 100%
  );

  --gradiente-titulo: linear-gradient(180deg, #33a8db 0%, #1472b7 100%);
  --gradiente-borda: linear-gradient(180deg, #3ba1cd 0%, #1572b7 100%);
  --gradiente-footer: linear-gradient(
    180deg,
    rgba(51, 168, 219, 0) 0%,
    rgba(51, 168, 219, 0.2) 99.99%,
    rgba(51, 168, 219, 0.2) 100%
  );

  --texto-botao: #31a8dd;

  --cor-principal: #33a8db;
  --cinza-escuro: #252525;

  --fonte-principal: "Raleway", sans-serif;
}

body {
  background-color: #000000;
  font-family: var(--fonte-principal);
}
